---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{site.data.details.name}}'s Home</title>
  </head>
  <body>
	<body style="background-color:powderblue;">
	  <a href="pdf/cv.pdf" style="float:right">Get PDF</a>	  
    <h1> {{site.data.details.name}} </h1>

    <p><b>Profile</b></p>
<p>{{site.data.details.profile}} </p>

<p><b>Education</b></p>
      <ul>
      {% for item in site.data.details.education %}
      <li> {{item.title}}  </li>
      {% endfor %}
    </ul>

<p>Reach me at:
    <ul>
      {% for url in site.data.details.urls %}
        <li><a href="http://{{url}}">{{url}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
